.navbar-container {
    margin-top: 67px;
    .agregar:hover .agregar-service {
      fill: #025373 !important;
    }

    .servicios:hover .servicios-contratados {
        fill: #025373 !important;
    }

    .servicios:hover .servicios-linea {
      display: block;
    }

    .servicios .servicios-linea {
      display: none;
    }

    #overlay {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background: #252525;
      z-index: 40;
      transition: opacity 0.6s;
      transition-timing-function: ease-in;
    }

    .overlay__inner {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .overlay__content {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .spinner {
        width: 75px;
        height: 75px;
        display: inline-block;
        border-width: 2px;
        border-color: #F1F1F1;
        border-top-color: #025373;
        animation: spin 1s infinite linear;
        border-radius: 100%;
        border-style: solid;
    }

    @keyframes spin {
        100% {
        transform: rotate(360deg);
        }
    }
    .logofade {
        animation: logo-fade 0.5s ease 0s 1 normal forwards;
        margin-bottom: 20px;
    }
    @keyframes logo-fade {
        0% { 
        opacity: 0; 
        transform: translateY(20px);
        }
        100% { 
        opacity: 1; 
        transform: translateY(0px);
        }
    }

    .buttons span {
        color: #f1f1f1 !important;
        font-weight: 600;
        text-decoration: none !important;
    }
    .logo {
        fill: white;
        width: 220px;
        float: left;
        margin-right: 15px;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    .navbar {
        width: 100%;
        background-color: #1b1b1b;
        z-index: 39;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
}
.contenido {
    .mdi.mdi-chevron-right.mdi-24px{
        color: #f1f1f1 !important;
      }
      .table.is-hoverable tbody tr:not(.is-selected):hover {
        background-color: #252525;
    }
      .container {
          width: 100% !important;
          max-width: none !important;
      }
      .table {
        background-color: #1b1b1b !important;
        color: #F1F1F1;
      }
      .b-table .table-wrapper {
        padding-left: 5.5%;
        padding-right: 5.5%;
      }
      .b-table .columns {
        padding-left: 4.5%;
        padding-right: 4.5%;
      }
      .actions {
        padding: 10px 0;
      }
      
      .glyphicon-euro {
        font-size: 12px;
      }
      
      .table{
        width:100%;
      }
      .card {
        border-radius: 1.25rem;
        border: 1px solid #252525;
        margin-bottom: 25px;
        color: #f1f1f1;
        background-color: #1b1b1b;
      }
      .card-header {
        border: none;
        box-shadow: none;
      }
      .card-content {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1.5rem;
      }  
      .content ul {
        margin-left: 0px;
        list-style: none;
      }
      .content ul li {
        display: inline;
      }
      .card-header button {
        margin-right: 1.5rem;
        top: 1rem;
      }
      .b-table .table tr.detail {
        background-color: #252525 !important;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
      strong {
        color: #F1F1F1;
      }
      .table thead td, .table thead th {
        border-width: 0 0 1px;
        font-size: .85em;
        border-color: #DFDFDF;
        color: #f1f1f1;
        padding-bottom: 1.5%;
      }
      .table tr {
        border: 0px;
        border-color: #1b1b1b;
      }
      .table td {
        vertical-align: middle;
      }
      .table td a{
        color: #025373;
        text-decoration: underline;
      }
      .table td a:hover {
        color: #025373;
      }
      .botonedit:hover .botonedit-circulo{
        fill: #025373;
      }
      .table td, .table th {
        border: 1px solid #777777;
        border-width: 0 0 1px;
      }
      .botonedit:hover .botonedit-flecha{
        stroke: #F1F1F1;
      }
      .botonfiltro:hover .botonfiltro-circulo{
        fill: #025373;
      }
      .botonfiltro:hover .botonfiltro-flecha{
        stroke: #F1F1F1;
      }
      .botonfiltro-selected .botonfiltro-circulo{
        fill: #025373;
      }
      .botonfiltro-selected .botonfiltro-flecha{
        stroke: #F1F1F1;
      }  
      .botonsvg:hover .botonsvg-fondo{
        fill: #FFFFFF;
      }
      .botonsvg:hover .botonsvg-icono {
        stroke: #025373;
      }
      .botonsvg:hover .botonsvg-texto {
        fill: #025373;
      }
      .is-vencida{
        background: #252525;
      }
      .is-porvencer{
        background: #252525;
      }
      .form-control {
        margin-left: 1.5%;
      }
      #search-element {
        border: none;
        box-shadow: none;
        border-bottom: 1px solid;
        border-radius: 0;
        border-color: #252525;
        color: #252525;
        background-color: #252525;
        text-align: left;
        margin-bottom: 15px;
      }
      #search-element::placeholder {
        color: #F1F1F1;
      }
      #search-element::-moz-placeholder {
        color: #F1F1F1;
      }
      .button-svg {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
      }
      .button:focus:not(:active), .button.is-focused:not(:active) {
        box-shadow: none;
      }
      .loading-overlay .loading-background {
        background: #1b1b1b;
      }
      .column.is-four-fifths, .column.is-four-fifths-tablet {
        width: 90%;
      }
}
.add-contenido {
  select {
    color: #F1F1F1 !important;
    option { 
      color: #F1F1F1 !important;
    }
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
  ::-moz-scrollbar {
    width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
  .container {
    width: 100% !important;
    max-width: none !important;
  }
  
  .actions {
    padding: 10px 0;
  }
  
  .glyphicon-euro {
    font-size: 12px;
  }
  
  .table{
    width:100%;
  }
  
  .table thead td, .table thead th {
    border-width: 0 0 1px;
    font-size: .85em;
    border-color: #DFDFDF;
    padding-bottom: 1.5%;
  }
  
  .column {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #A4A4A4;
    max-width: 75%;
  }
  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #025373 !important;
  }
  .switch input[type=checkbox]:checked + .check.is-danger {
    background: #025373;
  }
  .switch:hover input[type=checkbox]:checked + .check.is-danger {
    background: #025373;
  }
  .switch input[type=checkbox]:focus:checked + .check.is-danger, .switch input[type=checkbox]:active:checked + .check.is-danger {
    box-shadow: none;
  }

  .filas {
    display: flex;
    flex-direction: column;    
  }
  .fila {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem;
  }
  .botonsvg:hover .botonsvg-fondo{
    fill: #F1F1F1;
  }
  .botonsvg:hover .botonsvg-icono {
    stroke: #025373;
  }
  .botonsvg:hover .botonsvg-texto {
    fill: #025373;
  }
  .botonsvg2:hover .botonsvg2-icono {
    stroke: #025373;
  }
  .botonsvg2:hover .botonsvg2-texto {
    fill: #025373;
  }
  .botonsvg2:hover .botonsvg2-fondo{
    fill: #F1F1F1;
  }
  .botonsvg2:hover .botonsvg2-icono {
    stroke: #025373;
  }
  .botonsvg2:hover .botonsvg2-texto {
    fill: #025373;
  }
  .botonsvg2:hover .botonsvg2-fondo{
    fill: #F1F1F1;
  }

  h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #A4A4A4;
  }
  .help.is-danger {
    color: #E61637;
  }
  .has-text-danger {
    color: #E61637 !important;
  }
  .taginput .is-danger.taginput-container.is-focusable, .is-danger.textarea, .is-danger.input {
    border-color: #E61637 !important;
  }
  .input-texto input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: #DFDFDF;
    color: white;
    height: 55px;
    text-align: left;
    margin: 0px;
    padding-left: calc(0.75em - 5px);
  }
  input {
  color-scheme: dark;
  }
  .input-fecha input {
    color: white;
    width: 100% !important;
    display: block;
  }
  .card {
    background-color: #252525;
  }
  .input-detalles {
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #F1F1F1;
    text-align: right;
    margin: 0px;
  }
  .select select, .taginput .taginput-container.is-focusable, .textarea, .input {
    color: #F1F1F1;
    background-color: #252525;
  }
  .textarea::placeholder {
    color: #F1F1F1;
  }
  .input {
    background-color: #252525;
    color: #F1F1F1;
  }
  .detalles-filas {
    display: flex;
    flex-direction: column;
  }
  
  .detalles-columas {
    display: flex;
    flex-direction: row;
  }
  .detalles-columa:active {
    border-color: #025373;
  }
  .detalles-columa:focus {
    border-color: #025373;
  }
  .detalles-columa:target {
    border-color: #025373;
  }
  .detalles-columa:nth-of-type(2):hover{
    border-color: #b5b5b5;
  }
  .button-svg {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
  .detalles-columa {
    font-weight: 400;
    font-size: 1rem;
    color: #A4A4A4;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: #DFDFDF;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .detalles-columa:first-child {
    width: 45%;
  }
  #campocorto {
    width: 60%;
  }

  .input-texto input:active {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }
  
  .input-texto input::placeholder {
    color: #A4A4A4;
  }
  .input-detalles input:active {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }
  
  .input-detalles input::placeholder {
    color: #A4A4A4;
  }  
  .rows {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }
  
  .b-radio ,radio {
    font-size: 20px !important;
    font-weight: 400;
  }
  
   .b-checkbox ,checkbox {
    font-size: 20px !important;
    font-weight: 400;
  }
  
  .field label {
    font-weight: 400;
    color: #A4A4A4;
    margin-bottom: 1em;
  }
  
  .label:not(:last-child) {
    margin-bottom: 1em;
  }

  .field-body{
    margin-left: 0.5em;
  }
  
  .b-radio.radio:not(.button) {
    margin-right: 5em;
  }
  
  .field:not(:last-child) {
    margin-bottom: 0;
  }
  
  .b-checkbox.checkbox:not(.button) {
    margin-left: 0.75em;
  }
  
  .b-radio.radio:hover input[type=radio]:not(:disabled) + .check {
    border-color: #025373;
  }
  
  .b-radio.radio input[type=radio]:checked + .check {
    border-color: #025373;
  }
  
  .b-radio.radio input[type=radio] + .check:before {
    background-color: #025373;
  }
  .b-radio.radio input[type=radio]:focus:checked + .check {
    box-shadow: none;
  }
  .b-radio.radio input[type=radio]:focus + .check {
    box-shadow: none;
  }
  .b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled) + .check {
    border-color: #025373;
  }
  .b-checkbox.checkbox input[type=checkbox]:focus:checked + .check {
    box-shadow: none;
  }
  .b-checkbox.checkbox input[type=checkbox]:checked + .check {
    border-color: #025373;
    background: #025373 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
  }
  .select select:focus, .taginput .taginput-container.is-focusable:focus, .textarea:focus, .input:focus, .select select.is-focused, .taginput .is-focused.taginput-container.is-focusable, .is-focused.textarea, .is-focused.input, .select select:active, .taginput .taginput-container.is-focusable:active, .textarea:active, .input:active, .select select.is-active, .taginput .is-active.taginput-container.is-focusable, .is-active.textarea, .is-active.input {
    border-color: #025373;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .help.is-danger {
    visibility: hidden;
    line-height: 1em;
  }
  .help.is-danger:after {
      content: 'Check this field.';
      visibility: visible;
      display: block;
  }
  .control .help.counter {
    visibility: visible !important;
  }
  .textarea:not([rows]) {
    min-height: 4em;
    max-height: 10em;
  }
}
.id-contenido {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  ::-moz-scrollbar {
    width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
  .container {
    width: 100% !important;
    max-width: none !important;
  }
  select {
    color: #F1F1F1 !important;
    option { 
      color: #F1F1F1 !important;
    }
  }
  .actions {
    padding: 10px 0;
  }
  input {
  color-scheme: dark;
  }
  .glyphicon-euro {
    font-size: 12px;
  }
  .card {
    border-radius: 1.25rem;
    border: 1px solid #A4A4A4;
    margin-bottom: 25px;
    color: #A4A4A4;
  }
  .card-header {
    border: none;
    box-shadow: none;
  }
  .card-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }
  .table{
    width:100%;
  }
  .iconos {
    margin: 0.5rem;
  }
  a {
    color: #025373;
  }
  .table thead td, .table thead th {
    border-width: 0 0 1px;
    font-size: .85em;
    border-color: #DFDFDF;
    padding-bottom: 1.5%;
  }
  .switch input[type=checkbox]:checked + .check.is-danger {
    background: #025373;
  }
  .switch:hover input[type=checkbox]:checked + .check.is-danger {
    background: #025373;
  }
  .switch input[type=checkbox]:focus:checked + .check.is-danger, .switch input[type=checkbox]:active:checked + .check.is-danger {
    box-shadow: none;
  }

  .column {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #A4A4A4;
    max-width: 75%;
  }
  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: #025373 !important;
  }
  .filas {
    display: flex;
    flex-direction: column;    
  }
  .fila {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem;
  }
  .card-header button {
    margin-right: 1.5rem;
    top: 1rem;
  }
  .botonsvg:hover .botonsvg-fondo{
    fill: #F1F1F1;
  }
  .botonsvg:hover .botonsvg-icono {
    stroke: #025373;
  }
  .botonsvg:hover .botonsvg-texto {
    fill: #025373;
  }
  .botonsvg2:hover .botonsvg2-icono {
    stroke: #025373;
  }
  .botonsvg2:hover .botonsvg2-texto {
    fill: #025373;
  }
  .botonsvg2:hover .botonsvg2-fondo{
    fill: #F1F1F1;
  }
  .botonsvg2:hover .botonsvg2-icono {
    stroke: #025373;
  }
  .botonsvg2:hover .botonsvg2-texto {
    fill: #025373;
  }
  .botonsvg2:hover .botonsvg2-fondo{
    fill: #F1F1F1;
  }

  h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #A4A4A4;
  }
  .input {
    background-color: #252525;
    color: #F1F1F1;
  }
  .help.is-danger {
    color: #E61637;
  }
  .has-text-danger {
    color: #E61637 !important;
  }
  .taginput .is-danger.taginput-container.is-focusable, .is-danger.textarea, .is-danger.input {
    border-color: #E61637 !important;
  }
  .input-texto input {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: #DFDFDF;
    color: white;
    height: 55px;
    text-align: left;
    margin: 0px;
    padding-left: calc(0.75em - 5px);
  }
  .input-fecha input {
    color: white;
    width: 100% !important;
    display: block;
  }
  .card {
    background-color: #252525;
  }
  .input-detalles {
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #F1F1F1;
    text-align: right;
    margin: 0px;
  }
  .select select, .taginput .taginput-container.is-focusable, .textarea, .input {
    color: #F1F1F1;
    background-color: #252525;
  }
  .textarea::placeholder {
    color: #F1F1F1;
  }
  .detalles-filas {
    display: flex;
    flex-direction: column;
  }

  .detalles-columas {
    display: flex;
    flex-direction: row;
  }
  .anotaciones-columas {
    display: flex;
    flex-direction: row;
  }  
  .button-svg {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .button-svg-2 {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    float: right;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .detalles-columa {
    font-weight: 400;
    font-size: 1rem;
    color: #A4A4A4;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: #DFDFDF;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .detalles-columa:first-child {
    width: 45%;
  }
  .detalles-columa:active {
    border-color: #025373;
  }
  .detalles-columa:focus {
    border-color: #025373;
  }
  .detalles-columa:target {
    border-color: #025373;
  }
  .detalles-columa:nth-of-type(2):hover{
    border-color: #b5b5b5;
  }
  .anotaciones-columa {
    font-weight: 400;
    font-size: 1rem;
    color: #A4A4A4;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: #DFDFDF;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .anotaciones-columa:active {
    border-color: #025373;
  }
  .anotaciones-columa:focus {
    border-color: #025373;
  }
  .anotaciones-columa:target {
    border-color: #025373;
  }
  .anotaciones-columa:nth-of-type(2):hover{
    border-color: #b5b5b5;
  }
  #anotacion {
    border: none;
  }
  #campocorto {
    width: 60%;
  }

  .input-texto input:active {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }

  .input-texto input::placeholder {
    color: #A4A4A4;
  }
  .input-anotacion {
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: #252525;
    text-align: right;
    margin: 0px;
  }
  .input-anotacion textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em;
  }
  .input-anotacion .help.counter {
    float: left;
  }
  .input-anotacion input:active {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }

  .input-anotacion input::placeholder {
    color: #A4A4A4;
  }  
  .input-detalles input:active {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
  }

  .input-detalles input::placeholder {
    color: #A4A4A4;
  }  
  .rows {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .b-radio ,radio {
    font-size: 20px !important;
    font-weight: 400;
  }

  .b-checkbox ,checkbox {
    font-size: 20px !important;
    font-weight: 400;
  }

  .field label {
    font-weight: 400;
    color: #A4A4A4;
    margin-bottom: 1em;
  }

  .label:not(:last-child) {
    margin-bottom: 1em;
  }

  .field-body{
    margin-left: 0.5em;
  }

  .b-radio.radio:not(.button) {
    margin-right: 5em;
  }

  .field:not(:last-child) {
    margin-bottom: 0;
  }

  .b-checkbox.checkbox:not(.button) {
    margin-left: 0.75em;
  }

  .b-radio.radio:hover input[type=radio]:not(:disabled) + .check {
    border-color: #025373;
  }

  .b-radio.radio input[type=radio]:checked + .check {
    border-color: #025373;
  }

  .b-radio.radio input[type=radio] + .check:before {
    background-color: #025373;
  }
  .b-radio.radio input[type=radio]:focus:checked + .check {
    box-shadow: none;
  }
  .b-radio.radio input[type=radio]:focus + .check {
    box-shadow: none;
  }
  .b-checkbox.checkbox:hover input[type=checkbox]:not(:disabled) + .check {
    border-color: #025373;
  }
  .b-checkbox.checkbox input[type=checkbox]:focus:checked + .check {
    box-shadow: none;
  }
  .b-checkbox.checkbox input[type=checkbox]:checked + .check {
    border-color: #025373;
    background: #025373 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23fff' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
  }
  .select select:focus, .taginput .taginput-container.is-focusable:focus, .textarea:focus, .input:focus, .select select.is-focused, .taginput .is-focused.taginput-container.is-focusable, .is-focused.textarea, .is-focused.input, .select select:active, .taginput .taginput-container.is-focusable:active, .textarea:active, .input:active, .select select.is-active, .taginput .is-active.taginput-container.is-focusable, .is-active.textarea, .is-active.input {
    border-color: #025373;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .help.is-danger {
    visibility: hidden;
    line-height: 1em;
  }
  .help.is-danger:after {
      content: 'Check this field.';
      visibility: visible;
      display: block;
  }
  .control .help.counter {
    visibility: visible !important;
  }
  .textarea:not([rows]) {
    min-height: 4em;
    max-height: 10em;
  }
}