.navbar-container {
    margin-top: 67px;
    .agregar:hover .agregar-service {
      fill: #025373 !important;
    }

    .servicios:hover .servicios-contratados {
        fill: #025373 !important;
    }

    .servicios:hover .servicios-linea {
      display: block;
    }

    .servicios .servicios-linea {
      display: none;
    }

    #overlay {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background: #252525;
      z-index: 40;
      transition: opacity 0.6s;
      transition-timing-function: ease-in;
    }

    .overlay__inner {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .overlay__content {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .spinner {
        width: 75px;
        height: 75px;
        display: inline-block;
        border-width: 2px;
        border-color: #F1F1F1;
        border-top-color: #025373;
        animation: spin 1s infinite linear;
        border-radius: 100%;
        border-style: solid;
    }

    @keyframes spin {
        100% {
        transform: rotate(360deg);
        }
    }
    .logofade {
        animation: logo-fade 0.5s ease 0s 1 normal forwards;
        margin-bottom: 20px;
    }
    @keyframes logo-fade {
        0% { 
        opacity: 0; 
        transform: translateY(20px);
        }
        100% { 
        opacity: 1; 
        transform: translateY(0px);
        }
    }

    .buttons span {
        color: #f1f1f1 !important;
        font-weight: 600;
        text-decoration: none !important;
    }
    .logo {
        fill: white;
        width: 220px;
        float: left;
        margin-right: 15px;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    .navbar {
        width: 100%;
        background-color: #1b1b1b;
        z-index: 39;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
}
.contenido {
    .mdi.mdi-chevron-right.mdi-24px{
        color: #f1f1f1 !important;
      }
      .table.is-hoverable tbody tr:not(.is-selected):hover {
        background-color: #252525;
    }
      .container {
          width: 100% !important;
          max-width: none !important;
      }
      .table {
        background-color: #1b1b1b !important;
        color: #F1F1F1;
      }
      .b-table .table-wrapper {
        padding-left: 5.5%;
        padding-right: 5.5%;
      }
      .b-table .columns {
        padding-left: 4.5%;
        padding-right: 4.5%;
      }
      .actions {
        padding: 10px 0;
      }
      
      .glyphicon-euro {
        font-size: 12px;
      }
      
      .table{
        width:100%;
      }
      .card {
        border-radius: 1.25rem;
        border: 1px solid #252525;
        margin-bottom: 25px;
        color: #f1f1f1;
        background-color: #1b1b1b;
      }
      .card-header {
        border: none;
        box-shadow: none;
      }
      .card-content {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1.5rem;
      }  
      .content ul {
        margin-left: 0px;
        list-style: none;
      }
      .content ul li {
        display: inline;
      }
      .card-header button {
        margin-right: 1.5rem;
        top: 1rem;
      }
      .b-table .table tr.detail {
        background-color: #252525 !important;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
      strong {
        color: #F1F1F1;
      }
      .table thead td, .table thead th {
        border-width: 0 0 1px;
        font-size: .85em;
        border-color: #DFDFDF;
        color: #f1f1f1;
        padding-bottom: 1.5%;
      }
      .table tr {
        border: 0px;
        border-color: #1b1b1b;
      }
      .table td {
        vertical-align: middle;
      }
      .table td a{
        color: #025373;
        text-decoration: underline;
      }
      .table td a:hover {
        color: #025373;
      }
      .botonedit:hover .botonedit-circulo{
        fill: #025373;
      }
      .table td, .table th {
        border: 1px solid #777777;
        border-width: 0 0 1px;
      }
      .botonedit:hover .botonedit-flecha{
        stroke: #F1F1F1;
      }
      .botonfiltro:hover .botonfiltro-circulo{
        fill: #025373;
      }
      .botonfiltro:hover .botonfiltro-flecha{
        stroke: #F1F1F1;
      }
      .botonfiltro-selected .botonfiltro-circulo{
        fill: #025373;
      }
      .botonfiltro-selected .botonfiltro-flecha{
        stroke: #F1F1F1;
      }  
      .botonsvg:hover .botonsvg-fondo{
        fill: #FFFFFF;
      }
      .botonsvg:hover .botonsvg-icono {
        stroke: #025373;
      }
      .botonsvg:hover .botonsvg-texto {
        fill: #025373;
      }
      .is-vencida{
        background: #252525;
      }
      .is-porvencer{
        background: #252525;
      }
      .form-control {
        margin-left: 1.5%;
      }
      #search-element {
        border: none;
        box-shadow: none;
        border-bottom: 1px solid;
        border-radius: 0;
        border-color: #252525;
        color: #252525;
        background-color: #252525;
        text-align: left;
        margin-bottom: 15px;
      }
      #search-element::placeholder {
        color: #F1F1F1;
      }
      #search-element::-moz-placeholder {
        color: #F1F1F1;
      }
      .button-svg {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
      }
      .button:focus:not(:active), .button.is-focused:not(:active) {
        box-shadow: none;
      }
      .loading-overlay .loading-background {
        background: #1b1b1b;
      }
      .column.is-four-fifths, .column.is-four-fifths-tablet {
        width: 90%;
      }
}